In [1]:
import pandas as pd
import numpy as np

In [2]:
mars_env_mon = pd.read_csv("mars_env_monitoring.csv")
habit = pd.read_csv("habitats.csv")
resources = pd.read_csv("resources.csv")
rov = pd.read_csv("rovers.csv")
indoor_sensors = pd.read_csv("sensors.csv")

# Establishing Connection with the CloudSQL Postgres instance

In [204]:
#Establishing Connection with the CloudSQL instance

import psycopg2


host = "34.85.134.242"        
database = "postgres" 
user = "postgres"     
password = "mars"     

connection = psycopg2.connect(
    host=host,
    database=database,
    user=user,
    password=password
)


cursor = connection.cursor()
cursor.execute("SELECT current_database();")
print("Connected to database:", cursor.fetchone())

Connected to database: ('postgres',)

# Creating Schema `mars_colony`

In [143]:
cursor = connection.cursor()

query = "CREATE SCHEMA IF NOT EXISTS mars_colony;"  

cursor.execute(query)
connection.commit()

In [144]:
#Creating entities for all the tables
cursor = connection.cursor()

query = '''CREATE TABLE IF NOT EXISTS mars_colony.indoor_sensors (
           sensor_id SERIAL PRIMARY KEY,
           sensor_type VARCHAR,
           measurement float,
           last_maintenance timestamp,
           status varchar
);'''

cursor.execute(query)
connection.commit() 

#cursor.close()

In [145]:
#Creating entities for all the tables
cursor = connection.cursor()

query = '''CREATE TABLE IF NOT EXISTS mars_colony.rovers (
           rover_id SERIAL PRIMARY KEY,
           status VARCHAR,
           task varchar,
           charge_pct float
);'''

cursor.execute(query)
connection.commit() 

#cursor.close()

In [146]:
#Creating entities for all the tables
cursor = connection.cursor()

query = '''CREATE TABLE IF NOT EXISTS mars_colony.resources (
           resource_id SERIAL PRIMARY KEY,
           resource_type VARCHAR,
           quantity float,
           last_update timestamp
);'''

cursor.execute(query)
connection.commit() 

#cursor.close()

In [147]:
#Creating entities for all the tables
cursor = connection.cursor()

query = '''CREATE TABLE IF NOT EXISTS mars_colony.mars_env_monitoring (
           record_id SERIAL PRIMARY KEY,
           radiation_level float,
           temperature float,
           wind_speed float,
           dust_level float,
           timestamp timestamp
);'''

cursor.execute(query)
connection.commit() 

#cursor.close()

In [193]:
#Creating entities for all the tables
cursor = connection.cursor()

query = '''CREATE TABLE IF NOT EXISTS mars_colony.habitats (
           id SERIAL PRIMARY KEY,
           habitat_id INTEGER,
           sensor_id INTEGER,
           rover_id INTEGER,
           resource_id INTEGER,
           record_id INTEGER,
           FOREIGN KEY (sensor_id) REFERENCES mars_colony.indoor_sensors(sensor_id),
           FOREIGN KEY (rover_id) REFERENCES mars_colony.rovers(rover_id),
           FOREIGN KEY (resource_id) REFERENCES mars_colony.resources(resource_id),
           FOREIGN KEY (record_id) REFERENCES mars_colony.mars_env_monitoring(record_id)

);'''

cursor.execute(query)
connection.commit() 

#cursor.close()

# adding data to the `mars_env_monitoring` table

In [150]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:mars@34.85.134.242:5432/postgres")

#adding data to the mars_env_monitoring table
mars_env_mon = mars_env_mon.drop(columns="record_id")
mars_env_mon.to_sql('mars_env_monitoring', con=engine, if_exists='append', index=False, schema='mars_colony')

30

# Integrity check

In [151]:
#Integrity check
cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.mars_env_monitoring;'''

cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)


connection.commit() 

#cursor.close()

(1, 1.42, -56.1, 85.8, 202.3, datetime.datetime(2024, 12, 8, 0, 11, 4, 293990))
(2, 0.94, -44.8, 32.6, 443.9, datetime.datetime(2024, 12, 9, 10, 11, 4, 293992))
(3, 1.07, -45.2, 22.0, 425.5, datetime.datetime(2024, 12, 9, 1, 11, 4, 293994))
(4, 1.33, -18.2, 71.1, 467.8, datetime.datetime(2024, 12, 10, 6, 11, 4, 293995))
(5, 0.97, -17.3, 81.0, 392.7, datetime.datetime(2024, 12, 9, 7, 11, 4, 293996))
(6, 0.51, -51.1, 34.9, 334.5, datetime.datetime(2024, 12, 8, 13, 11, 4, 293996))
(7, 0.25, -0.1, 9.6, 290.3, datetime.datetime(2024, 12, 10, 0, 11, 4, 293997))
(8, 0.74, -44.0, 94.1, 186.1, datetime.datetime(2024, 12, 8, 10, 11, 4, 293998))
(9, 0.41, -1.4, 39.8, 470.1, datetime.datetime(2024, 12, 10, 20, 11, 4, 293999))
(10, 0.68, -35.3, 51.8, 486.8, datetime.datetime(2024, 12, 9, 11, 11, 4, 294000))
(11, 1.34, -58.0, 83.8, 142.0, datetime.datetime(2024, 12, 8, 4, 11, 4, 294001))
(12, 0.55, -39.3, 67.6, 152.7, datetime.datetime(2024, 12, 9, 22, 11, 4, 294002))
(13, 0.27, -21.9, 73.5, 242.8, datetime.datetime(2024, 12, 8, 4, 11, 4, 294003))
(14, 0.6, -19.2, 20.9, 224.2, datetime.datetime(2024, 12, 10, 7, 11, 4, 294004))
(15, 1.37, -28.1, 54.1, 497.2, datetime.datetime(2024, 12, 9, 6, 11, 4, 294005))
(16, 0.48, -33.1, 69.6, 88.0, datetime.datetime(2024, 12, 8, 4, 11, 4, 294006))
(17, 1.01, -26.8, 22.9, 9.0, datetime.datetime(2024, 12, 9, 19, 11, 4, 294007))
(18, 0.1, -24.4, 17.5, 246.9, datetime.datetime(2024, 12, 10, 1, 11, 4, 294008))
(19, 0.59, -55.1, 98.2, 89.4, datetime.datetime(2024, 12, 8, 21, 11, 4, 294009))
(20, 0.53, -37.8, 51.7, 183.2, datetime.datetime(2024, 12, 10, 0, 11, 4, 294010))
(21, 0.33, -45.5, 26.1, 372.1, datetime.datetime(2024, 12, 7, 23, 11, 4, 294011))
(22, 0.85, -11.8, 99.6, 360.5, datetime.datetime(2024, 12, 8, 1, 11, 4, 294012))
(23, 0.78, -31.8, 96.5, 154.0, datetime.datetime(2024, 12, 10, 20, 11, 4, 294013))
(24, 1.07, -1.0, 55.8, 271.3, datetime.datetime(2024, 12, 9, 3, 11, 4, 294014))
(25, 0.48, -36.1, 88.3, 254.4, datetime.datetime(2024, 12, 8, 6, 11, 4, 294015))
(26, 0.44, -11.0, 18.9, 318.2, datetime.datetime(2024, 12, 10, 18, 11, 4, 294016))
(27, 0.34, -12.1, 27.9, 125.2, datetime.datetime(2024, 12, 10, 6, 11, 4, 294017))
(28, 0.41, -51.0, 70.0, 294.9, datetime.datetime(2024, 12, 8, 22, 11, 4, 294018))
(29, 0.88, -29.5, 84.7, 489.4, datetime.datetime(2024, 12, 9, 5, 11, 4, 294019))
(30, 0.67, -18.3, 85.6, 243.4, datetime.datetime(2024, 12, 9, 14, 11, 4, 294020))

# adding data to table : `resources`

In [152]:
resources = resources.drop(columns="resource_id")
resources.to_sql('resources', con=engine, if_exists='append', index=False, schema='mars_colony')

15

# Integrity check

In [153]:
cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.resources;'''

cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)


connection.commit() 

#cursor.close()

(1, 'Food', 312.39, datetime.datetime(2024, 12, 10, 3, 11, 4, 293792))
(2, 'Energy', 330.46, datetime.datetime(2024, 12, 10, 16, 11, 4, 293795))
(3, 'Energy', 136.39, datetime.datetime(2024, 12, 10, 7, 11, 4, 293796))
(4, 'Water', 739.6, datetime.datetime(2024, 12, 9, 8, 11, 4, 293797))
(5, 'Food', 199.8, datetime.datetime(2024, 12, 8, 23, 11, 4, 293798))
(6, 'Food', 495.4, datetime.datetime(2024, 12, 10, 0, 11, 4, 293799))
(7, 'Oxygen', 281.55, datetime.datetime(2024, 12, 10, 7, 11, 4, 293800))
(8, 'Food', 906.19, datetime.datetime(2024, 12, 9, 3, 11, 4, 293801))
(9, 'Oxygen', 527.83, datetime.datetime(2024, 12, 9, 13, 11, 4, 293802))
(10, 'Food', 606.95, datetime.datetime(2024, 12, 9, 19, 11, 4, 293803))
(11, 'Water', 725.96, datetime.datetime(2024, 12, 9, 3, 11, 4, 293804))
(12, 'Food', 225.4, datetime.datetime(2024, 12, 9, 15, 11, 4, 293805))
(13, 'Oxygen', 643.98, datetime.datetime(2024, 12, 10, 11, 11, 4, 293806))
(14, 'Oxygen', 585.86, datetime.datetime(2024, 12, 10, 4, 11, 4, 293807))
(15, 'Water', 282.76, datetime.datetime(2024, 12, 10, 12, 11, 4, 293808))

# adding data to table:  `rovers`

In [154]:
rov = rov.drop(columns="rover_id")

rov.to_sql('rovers', con=engine, if_exists='append', index=False, schema='mars_colony')

11

# Integrity check

In [155]:
cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.rovers;'''

cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)


connection.commit() 

#cursor.close()

(1, 'Operational', 'Material Collection', 81.2)
(2, 'Operational', 'Exploration', 66.5)
(3, 'Operational', 'Transport', 53.2)
(4, 'Operational', 'Material Collection', 65.5)
(5, 'Operational', 'Transport', 66.3)
(6, 'Needs Maintenance', 'Material Collection', 83.0)
(7, 'Operational', 'Exploration', 66.5)
(8, 'Operational', 'Transport', 12.0)
(9, 'Operational', 'Material Collection', 99.0)
(10, 'Needs Maintenance', 'Transport', 66.3)
(11, 'Operational', 'Material Collection', 4.0)

# adding data to table: `indoor_sensors`

In [156]:
indoor_sensors = indoor_sensors.drop(columns="sensor_id")
indoor_sensors.to_sql('indoor_sensors', con=engine, if_exists='append', index=False, schema='mars_colony')

25

# Integrity check

In [157]:
cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.indoor_sensors;'''

cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)


connection.commit() 

#cursor.close()

(1, 'Temperature', 22.0, datetime.datetime(2023, 12, 15, 21, 11, 4, 293263), 'Needs Maintenance')
(2, 'Atmospheric', 101.8, datetime.datetime(2024, 11, 4, 21, 11, 4, 293271), 'Active')
(3, 'Temperature', 24.0, datetime.datetime(2024, 11, 16, 21, 11, 4, 293272), 'Needs Maintenance')
(4, 'Pressure', 96.2, datetime.datetime(2024, 1, 6, 21, 11, 4, 293273), 'Active')
(5, 'Radiation', 100.0, datetime.datetime(2024, 8, 15, 21, 11, 4, 293274), 'Active')
(6, 'Radiation', 95.3, datetime.datetime(2024, 7, 14, 21, 11, 4, 293275), 'Active')
(7, 'Pressure', 104.1, datetime.datetime(2024, 10, 30, 21, 11, 4, 293275), 'Active')
(8, 'Radiation', 97.6, datetime.datetime(2024, 8, 12, 21, 11, 4, 293276), 'Active')
(9, 'co2_level', 0.0484, datetime.datetime(2024, 10, 19, 21, 11, 4, 293277), 'Active')
(10, 'co2_level', 0.0388, datetime.datetime(2024, 5, 29, 21, 11, 4, 293278), 'Needs Maintenance')
(11, 'Pressure', 99.4, datetime.datetime(2024, 7, 20, 21, 11, 4, 293279), 'Active')
(12, 'Structural', 96.2, datetime.datetime(2024, 4, 21, 21, 11, 4, 293280), 'Active')
(13, 'Pressure', 100.0, datetime.datetime(2024, 1, 19, 21, 11, 4, 293281), 'Active')
(14, 'Pressure', 95.3, datetime.datetime(2024, 6, 6, 21, 11, 4, 293281), 'Active')
(15, 'co2_level', 0.0536, datetime.datetime(2024, 9, 17, 21, 11, 4, 293282), 'Needs Maintenance')
(16, 'co2_level', 0.043, datetime.datetime(2024, 6, 3, 21, 11, 4, 293283), 'Active')
(17, 'Structural', 104.1, datetime.datetime(2024, 6, 11, 21, 11, 4, 293284), 'Needs Maintenance')
(18, 'Pressure', 97.6, datetime.datetime(2024, 8, 24, 21, 11, 4, 293285), 'Active')
(19, 'Pressure', 97.6, datetime.datetime(2024, 1, 1, 21, 11, 4, 293286), 'Active')
(20, 'co2_level', 0.0437, datetime.datetime(2024, 7, 26, 21, 11, 4, 293286), 'Active')
(21, 'Temperature', 20.0, datetime.datetime(2024, 7, 26, 21, 11, 4, 293286), 'Active')
(22, 'Temperature', 18.0, datetime.datetime(2024, 7, 26, 23, 11, 4, 293286), 'Active')
(23, 'Temperature', 17.0, datetime.datetime(2024, 6, 3, 21, 11, 4, 293283), 'Needs Maintenance')
(24, 'Temperature', 20.0, datetime.datetime(2024, 7, 20, 21, 11, 4, 293279), 'Needs Maintenance')
(25, 'Temperature', 21.0, datetime.datetime(2024, 8, 12, 21, 11, 4, 293276), 'Active')

# adding data to table: `habitats`

In [194]:
#habit = habit.drop(columns="habitat_id")
habit.to_sql('habitats', con=engine, if_exists='append', index=False, schema='mars_colony')

10

# Integrity check

In [165]:

cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.habitats;'''

cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)


connection.commit() 

#cursor.close()

(1, 48, 1, 1, 3, 5)
(2, 38, 2, 2, 4, 6)
(3, 24, 3, 4, 12, 1)
(4, 17, 10, 5, 11, 3)
(5, 30, 4, 6, 14, 17)
(6, 48, 18, 11, 13, 5)
(7, 28, 17, 10, 7, 7)
(8, 32, 3, 8, 6, 9)
(9, 20, 22, 9, 2, 28)
(10, 20, 21, 3, 15, 30)

# Example Data insertions to `mars_env_monitoring`

In [166]:
cursor = connection.cursor()

query = '''INSERT INTO mars_colony.mars_env_monitoring (radiation_level, temperature, wind_speed, dust_level, timestamp)
            VALUES ( 0.88, -43, 99.0, 200, '2024-12-09 03:11:04.294014');'''

cursor.execute(query)

connection.commit() 

#cursor.close()

In [167]:

cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.mars_env_monitoring;'''

cursor.execute(query)
rows = cursor.fetchall()

print(rows[-1])


connection.commit() 

#cursor.close()

(31, 0.88, -43.0, 99.0, 200.0, datetime.datetime(2024, 12, 9, 3, 11, 4, 294014))

# Example Data insertions to `indoor_sensors`

In [177]:
cursor = connection.cursor()

query = '''INSERT INTO mars_colony.indoor_sensors (sensor_type, measurement, last_maintenance, status)
            VALUES ('Radiation', 100, '2024-12-09 03:11:04.294014', 'Needs Maintenance');'''

cursor.execute(query)

connection.commit() 

#cursor.close()

In [178]:

cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.indoor_sensors;'''

cursor.execute(query)
rows = cursor.fetchall()

print(rows[-1])


connection.commit() 

#cursor.close()

(26, 'Radiation', 100.0, datetime.datetime(2024, 12, 9, 3, 11, 4, 294014), 'Needs Maintenance')

# Example Data insertions to `rovers`

In [179]:
cursor = connection.cursor()

query = '''INSERT INTO mars_colony.rovers (status, task, charge_pct)
            VALUES ('Operational', 'Mining', 45.3);'''

cursor.execute(query)

connection.commit() 

#cursor.close()

In [180]:

cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.rovers;'''

cursor.execute(query)
rows = cursor.fetchall()

print(rows[-1])


connection.commit() 

#cursor.close()

(12, 'Operational', 'Mining', 45.3)

# Example Data insertions to `resources`

In [185]:
cursor = connection.cursor()

query = '''INSERT INTO mars_colony.resources (resource_type, quantity, last_update)
            VALUES ('Food', 712.5, '2024-12-09 03:11:04.294014');'''

cursor.execute(query)

connection.commit() 

#cursor.close()

In [186]:

cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.resources;'''

cursor.execute(query)
rows = cursor.fetchall()

print(rows[-1])


connection.commit() 

#cursor.close()

(16, 'Food', 712.5, datetime.datetime(2024, 12, 9, 3, 11, 4, 294014))

# Example Data insertions to `habitats`

In [201]:
cursor = connection.cursor()

query = '''INSERT INTO mars_colony.habitats (habitat_id, sensor_id, rover_id, resource_id, record_id)
            VALUES (1, 6, 7, 1, 15);'''

cursor.execute(query)

connection.commit() 

#cursor.close()

In [205]:

cursor = connection.cursor()

query = ''' SELECT * FROM mars_colony.habitats;'''

cursor.execute(query)
rows = cursor.fetchall()

print(rows[-1])


connection.commit() 

#cursor.close()

(11, 1, 6, 7, 1, 15)